/* Global Styles */

body {
  background: #F1F1F1;
  margin: 0;
}

p {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

h1 {
  text-align: center;
  font-family: 'Lora', serif;
  font-weight: bold;
  font-size: 2.75vh;
}

.fa-check {
  color: #73D593;
}

.fa-spinner {
  display: block;
  margin: 50px auto;
}

.horizontal-rule {
  width: 100%;
  background: #F3F1F3;
  height: 1px;
}

/* Header Styles */

.header {
  background: #FFFFFF;
  height: 4vh;
  padding: 10px;

  .fa-filter {
    font-size: 3vh;
  }

  .inner-wrapper {
    max-width: 770px;
    margin: auto;
    z-index: 1;
  }

  .filter-icon {
    position: absolute;
    cursor: pointer;
    z-index: 10;
  }

  h1 {
    transform: scale(1, -1);
    clear: both;
    z-index: 1;
    margin: 0.75vh 0 0 0;

    @media (max-width: 500px) {
      margin-top: 1vh;
    }
  }
}

/* Filter Form Styles */

.filter {
  height: 32vh;
  max-width: 770px;
  margin: auto;

  @media (max-width: 500px) {
    height: 50vh;
  }

  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  p {
    font-family: 'Roboto', sans-serif;
  }
}

.form-box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #FFFFFF;
  box-sizing: border-box;
  height: 12.5vh;
  padding: 0;
  flex-basis: 24%;
  text-align: center;
  cursor: pointer;

  @media (max-width: 500px) {
    margin: 5px 0;
    flex-basis: 49%;
  }

  input[type="checkbox"] {
    display: none;
  }

  h2 {
    display: block;
    font-size: 2.75vh;
    font-family: 'Lora', serif;
    box-sizing: border-box;
    margin: 0;
    flex-basis: 100%;
    padding: 4.5vh 0;
  }

  input {
    display: block;
    margin: auto;
  }

  &:hover {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;        
  }

  &:nth-child(1) {
    &:hover {
      color: #E91E63;
    }

    :checked + h2 {
      color: #FFFFFF;
      background: #E91E63;
    }
  }

  &:nth-child(2) {
    &:hover {
      color: #03A9F4;
    }

    :checked + h2 {
      color: #FFFFFF;
      background: #03A9F4;
    }    
  }

  &:nth-child(3) {
    &:hover {
      color: #9C27B0;
    }

    :checked + h2 {
      color: #FFFFFF;
      background: #9C27B0;
    }
  }

  &:nth-child(4) {
    &:hover {
      color: #D500F9;
    }

    :checked + h2 {
      color: #FFFFFF;
      background: #D500F9;
    }
  }    
}

.form-search {
  margin: 2vh 0;
  text-align: center;
  flex-basis: 100%;

  p {
    display: inline-block;
    margin: 5px;
  }

  input {
    margin-left: 5px;
  }
}

.form-submit {
  flex-basis: 100%;
}

button.form-submit {
  border: none;
  font-family: 'Lora', serif;
  font-size: inherit;
  color: #FFFFFF;
  background: none;
  cursor: pointer;
  padding: 5px 16px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  background: #423C44;

  &:hover, &:active {
    color: #423C44;
    background: transparent;
    cursor: pointer;
  } 
}

/* Product List Styles */

$default-height: 40vh;
$first-row-height: 35vh;
$second-row-height: 45vh;

.container {
  display: flex;
  max-width: 770px;
  margin: auto;  
  flex-wrap: wrap;
  justify-content: space-between;
}

.product {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  background: #FFFFFF;
  height: $second-row-height;  
  padding: 1em;
  margin: 1vh 0;
  box-sizing: border-box;
  cursor: pointer;

  h1 {
    font-family: 'Lora', serif;
    font-weight: bold;
    font-size: 2.75vh;
    flex-basis: 100%;
  }

  .product-description {
    flex-basis: 100%;
  }

  p {
    text-align: center;
  }

  p.category {
    color: #6F6A71;
    font-size: 14px;
    margin-bottom: 5px;
  }

  p.package {
    color: #9E9A9F;
    font-size: 12px;
    margin-top: 0px;
  }

  .price-box {
    float: right;

    // Use flex to properly horizontally and vertically align the price and in-stock paragraphs
    display: flex;
    width: 100%;
    align-items: baseline;
    justify-content: space-between;
  }

  p.price {
    color: #423C44;
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0 5px 0;
    text-align: right;

    // For the default cards
    order: 2;
  }

  .dollar {
    color: #6F6A71;
    font-size: 11px;
  }

  p.in-stock {
    color: #6F6A71;
    font-size: 11px;
    font-weight: bold;
    margin-top: 0;
    text-align: right;

    // For the default cards
    order: 1;
  }

  .thumbnail {
    display: block;
    margin: auto;
  }
}

/* Desktop */
@media (min-width: 500px) {
// DEFAULT ROWS
  .product {
    height: $default-height;
    flex-basis: 32%;

    .thumbnail {
      height: $default-height * .35;
    }
  }

// FIRST ROW
  .product:nth-child(1) {
    height: $first-row-height;
    flex-basis: 100%;
    display: block;
    padding: 5vh;
    h1 {
      margin-top: 7vh;
      text-align: left;
    }

    .thumbnail {
      height: $first-row-height * .80;
      margin: 0;
    }    
  }

// SECOND ROW
  .product:nth-child(2), .product:nth-child(3) {
    height: $second-row-height;
    flex-basis: 49%;

    .thumbnail {
      height: $second-row-height * .55;
    }        
  }

  // Style the first two rows together because they share styles that are different from the rest of the cards
  .product:nth-child(1), .product:nth-child(2), .product:nth-child(3) {
    .thumbnail {
      float: left;
    }

    .desc-box {
      float: left;

      p {
        text-align: left;
      }
    }    

    .price-box {
      display: block;
      width: auto;
    }
  }

}

/* Mobile */

@media (max-width: 500px) {
  .container {
    max-width: 100%;
    flex-direction: column;
  }

  .product {
    height: 385px;
    padding: 1.5em;
    display: flex;
    flex-wrap: wrap;
  }

  .thumbnail {
    height: 200px;
  }

  h1 {
    flex-basis: 100%;
  }

  .product-description {
    flex-basis: 100%;
  }

  .desc-box {
    float: left;

    p {
      text-align: left;
    }
  }
}

.empty {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  margin: 15px 0;  
}

/* Show Product */
// DESKTOP (MODAL)

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal {
  margin-top: 5vh;
}

.modal, .show {
  min-height: 620px;
  max-height: 700px;
  width: 500px;
  background: #FFFFFF;  
  border-radius: 5px;
  cursor: default;

  .thumbnail {
    height: $second-row-height * .45;
    float: none;
    display: block;
    margin: 0 auto;
    clear: right;
  }

  h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    text-align: center;
    font-size: 4.25vh;
    margin: 1vh auto;
  }

  .product-description {
    width: 70%;
    margin: auto;
    flex-basis: auto;
  }

  .details-box {
    clear: both;
    display: flex;
    justify-content: space-between;

    p {
      font-size: 12px;
    }

    .details-labels p {
      color: #6F6A71;
      text-align: left;
      margin: 5px 0;
    }

    .details-values p {
      color: #9E9A9F;
      text-align: right;
      margin: 5px 0;
    }
  }

  button.buy {
    border: none;
    font-family: 'Lora', serif;
    font-size: inherit;
    color: #FFFFFF;
    cursor: pointer;
    padding: 15px;
    display: block;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    background: #423C44;
    width: 100%;
    margin: 15px auto;

    &:hover, &:active {
      color: #000000;
      background: #FFFFFF;
      cursor: pointer;
    } 
  }  

  button.close {
    border: none;
    outline: none;
    background: #FFFFFF;
    float: right;
    margin: 15px 15px 0 0;
    cursor: pointer;

    span {
      text-align: right;
      font-size: 1.5em;
    }
  }
}

/* Show Product */
// MOBILE

@media (max-width: 500px) {
  .product.show {
    min-height: 80vh;
    max-height: 85vh;
    width: 100%;
    margin-top: 0;

    .thumbnail {
      height: $second-row-height * .7;
    }

    h1 {
      font-family: "Lora", serif;
    }

    .price-box {
      display: block;
      width: auto;
    }

    .lcbo {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;

      button {
        margin-top: 15px;
        margin-bottom: 0;
      }
    }

    .product-description {
      width: 80%;
    }
  }

  .fa-chevron-left {
    font-size: 3vh;
  }

  .back {
    position: absolute;
    z-index: 10;
  }

  .back + h1 {
    color: #DDE4EF;
  }
}