body {
  background:  #F1F1F1;
}

p {
  font-family: 'Roboto', sans-serif;
}

.horizontal-rule {
  width: 100%;
  background: #F3F1F3;
  height: 1px;
}

.container {
  display: flex;
  max-width: 770px;
  margin: auto;  
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Product card heights */
$default-height: 355px;
$first-row-height: 300px;
$second-row-height: 385px;

.drink {
  /*display: flex;*/
  background: #FFFFFF;
  height: $second-row-height;  
  padding: 0.5em;
  margin: 0.75vh 0;
  box-sizing: border-box;

  h1 {
    text-align: center;
    font-family: 'Lora', serif;
    font-weight: bold;
    font-size: 20px;
  }

  p {
    text-align: center;
  }

  p.category {
    color: #6F6A71;
    font-size: 14px;
    margin-bottom: 5px;
  }

  p.package {
    color: #9E9A9F;
    font-size: 12px;
    margin-top: 0px;
  }

  .price-box {
    float: right;
  }
  
  p.price {
    color: #423C44;
    font-size: 16px;
    font-weight: bold;
  }

  .dollar {
    color: #6F6A71;
    font-size: 11px;
  }

  .thumbnail {
    display: block;
    margin: auto;
  }
}

/* Desktop */
@media (min-width: 500px) {
  .drink {
    height: $default-height;
    flex-basis: 32%;

    .thumbnail {
      height: $default-height * .40;
    }
  }

  .drink:nth-child(1) {
    height: $first-row-height;
    flex-basis: 100%;

    .thumbnail {
      float: left;
      height: $first-row-height * .80;
    }    
  }

  .drink:nth-child(2), .drink:nth-child(3) {
    height: $second-row-height;
    flex-basis: 49%;

    .thumbnail {
      height: $second-row-height * .55;
    }        
  }
}

/* Mobile */

@media (max-width: 500px) {
  .container {
    max-width: 100%;
    flex-direction: column;
  }

  .drink {
    height: 385px;
    flex-basis: auto;
  }
}